
.highlight {
  color:blue;
  background: green;
}

#apple {
  color: red
}

h1 {
    text-align: center;
    color: red;
}

/* This is a single line comment outside*/
h2 {
  /*This is inside, no problem*/
    text-align: center;
    color: red;
    /*Multiline comments
    are
    ok too!*/
}

p {
    text-align: center;
    color: red;
}

h1, h2, p {
    text-align: center;
    color: red;
}
