

/*

Things you can add on the elements

colors, padding, margin

#EA2269
#288383
#083343
#A4AE1D
#D7C30F

BORDERS
border:2px solid #900;
border:2px solid #288383;
border:2px solid #083343;
border:2px solid #A4AE1D;
border:2px solid #D7C30F;

BACKGROUNDS
background-color:#EA2269;
background-color:#288383;
background-color:#083343;
background-color:#A4AE1D;
background-color:#D7C30F;

TEXT COLORS
color:#000;
color:#030;
color:#033;



