

/* This is a CSS comment */
/* modify and create as much as you want */

/* ReDI colors

Orange: #ef5b2f
Blue: #5dadc4 
Light blue: #9ecedc
very light blue: #dfeff3

STEPS
1 - Apply background color to all elements to know where they are
2 - Hide the bullets and make the padding and margin of the UL zero. 
3 - Put all the sections (the LI items) on the same line. 
4 - Define how the navigation will be: left or right align or full width.
5 - make the buttons bigger
6 - add interaction to the buttons
7 - add the right fonts
8 - add colors
9 - explore other styling options, like outlines

*/



/* this is the header */


ul {
	background-color:#eee;
	list-style-type:none;
	padding:0;
}

li {
	display:inline-block;
}

li a {
	padding:10px 20px;
	display:block;
	background-color:#5dadc4;
	color:#fff;
	text-decoration:none;
}

li a:hover {
	background-color:#ef5b2f;
}